<div class="col-md-6">
    <img alt="Dungeons and Dragons" src="img/D&D_Transparent.png" class="img imgFoot" width="250" height="150" />
</div>
<div class="col-md-6 text-right">
    <strong>Roll D6!</strong>
    <br /> <strong> <em>Powered by Dungeons and Dragons v3.5</em> </strong>
    <br /> <img src="img/Twitter_bird_icon.png" width="20" height="20"/>/tkreque
    <br /> <img src="img/social_facebook_box_blue.png" width="20" height="20" />/tkreque
    <br /> <img src="img/mail-icon.png" width="20" height="20" /> <a href="mailto:thiago.reque@gmail.com">thiago.reque@gmail.com</a>
</div>