<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Listagem de Missões</h3>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form>
                    <div class="form-inline">
                            <input type="text" class="form-control" ng-model="pesquisa" />
                            <a class="btn btn-default" href="#/missao-novo" role="button"><span class="glyphicon glyphicon-pencil"></span> Novo...</a>
                    </div>
            </form>		
            <hr>		
        </div>
    </div>

    <div class="row" ng-show="editarRegistro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Edição de Missão</h4>
            <form role="form">
                <div class="form-group">					 
                    <label for="nome">Nome</label>
                    <input type="text" ng-model="missao.nome" class="form-control" id="nome" />
                    <label for="nd">Nível de Desafio</label>
                    <input type="text" ng-model="missao.nd" class="form-control" id="nd" />
                    <label for="xp">XP total</label>
                    <input type="text" ng-model="missao.xp" class="form-control" id="xp" />
                </div>
                <div class="form-group">					 
                    <label for="criaturas">Criaturas</label>
                    <input type="text" ng-model="missao.monstros" class="form-control" id="criaturas" />
                    <label for="chefe">Chefe da missão</label>
                    <input type="text" ng-model="missao.chefe" class="form-control" id="chefe" />
                </div>
            </form>
            <button type="button" ng-click="cancelarEdicao()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</button>
            <button type="button" ng-click="salvarEdicao()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Salvar Edição</button>
        </div>
    </div>

    <div class="row" ng-hide="editarRegistro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <table class="table table-striped table-hover" ng-init="todasMissoes()">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>ND</th>
                    <th>Criaturas</th>
                    <th>Chefe</th>
                    <th>XP</th>
                    <th>Ação</th>
                </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="missao in listaMissoes | filter:pesquisa | orderBy:'+nd'">
                        <td>{{missao.nome}}</td>
                        <td>{{missao.nd}}</td>
                        <td>{{missao.monstros}}</td>
                        <td>{{missao.chefe}}</td>
                        <td>{{missao.xp}}</td>
                        <th>
                            <button type="button" ng-click="excluir(missao.id)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" ng-click="editar(missao)" class="btn btn-sm btn-default" alt="Editar" title="Editar">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </th>
                    </tr>
                </tbody>
        </table>

        </div>
    </div>
</div>