<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Listagem de Personagens</h3>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form>
                    <div class="form-inline">
                            <input type="text" class="form-control" ng-model="pesquisa" />
                            <a class="btn btn-default" href="#/personagem-novo" role="button"><span class="glyphicon glyphicon-pencil"></span> Novo...</a>
                    </div>
            </form>		
            <hr>		
        </div>
    </div>

    <div class="row" ng-show="editarRegistro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Edição de Personagem</h4>
            <form role="form" name="personagemForm">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="nome">Nome</label>
                        <input type="text" ng-model="personagem.nome" class="form-control" id="nome" ng-required="true" />
                    </div>
                    <div class="col-xs-6">
                        <label for="pj">PJ</label>
                        <input type="text" ng-model="personagem.pj" class="form-control" id="pj" ng-required="true" />
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="raca">Raça</label>
                        <input type="text" ng-model="personagem.raca" class="form-control" id="raca" ng-required="true" />
                    </div>
                    <div class="col-xs-6">
                        <label for="sexo">Sexo</label>
                        <div class="radio">
                            <input type="radio" ng-model="personagem.sexo" id="sexo" value="M" checked> Homem
                        </div>
                        <div class="radio">
                            <input type="radio" ng-model="personagem.sexo" id="sexo" value="F"> Mulher
                        </div>
                        <div class="radio">
                            <input type="radio" ng-model="personagem.sexo" id="sexo" value="O"> Outro
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="classe">Classe</label>
                        <input type="text" ng-model="personagem.classe" class="form-control" id="classe" ng-required="true" />
                    </div>
                    <div class="col-xs-6">
                        <label for="nivel">Nível</label>
                        <input type="number" class="form-control" ng-model="personagem.nivel" id="nivel" min="1" max="20" value="1" ng-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="str">Força</label>
                        <input type="number" ng-model="personagem.str" class="form-control" id="str" min="6" max="26" ng-blur="personagem.modStr = setMod(personagem.str)" ng-click="personagem.modStr = setMod(personagem.str)"/>
                        <input type="text" ng-model="personagem.modStr" class="form-control" id="str" readonly/>
                    </div>
                    <div class="col-xs-2">
                        <label for="dex">Dextreza</label>
                        <input type="number" ng-model="personagem.dex" class="form-control" id="dex" min="6" max="26" ng-blur="personagem.modDex = setMod(personagem.dex)" ng-click="personagem.modDex = setMod(personagem.dex)"/>
                        <input type="text" ng-model="personagem.modDex" class="form-control" id="dex" readonly/>
                    </div>
                    <div class="col-xs-2">
                        <label for="cons">Constituição</label>
                        <input type="number" ng-model="personagem.cons" class="form-control" id="cons" min="6" max="26" ng-blur="personagem.modCons = setMod(personagem.cons)" ng-click="personagem.modCons = setMod(personagem.cons)"/>
                        <input type="text" ng-model="personagem.modCons" class="form-control" id="cons" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="int">Inteligência</label>
                        <input type="number" ng-model="personagem.inte" class="form-control" id="int" min="6" max="26" ng-blur="personagem.modInte = setMod(personagem.inte)" ng-click="personagem.modInte = setMod(personagem.inte)"/>
                        <input type="text" ng-model="personagem.modInte" class="form-control" id="int" readonly/>
                    </div>
                    <div class="col-xs-2">
                        <label for="wis">Sabedoria</label>
                        <input type="number" ng-model="personagem.wis" class="form-control" id="wis" min="6" max="26" ng-blur="personagem.modWis = setMod(personagem.wis)" ng-click="personagem.modWis = setMod(personagem.wis)"/>
                        <input type="text" ng-model="personagem.modWis" class="form-control" id="wis" readonly/>
                    </div>
                    <div class="col-xs-2">
                        <label for="cha">Carisma</label>
                        <input type="number" ng-model="personagem.cha" class="form-control" id="cha" min="6" max="26" ng-blur="personagem.modCha = setMod(personagem.cha)" ng-click="personagem.modCha = setMod(personagem.cha)"/>
                        <input type="text" ng-model="personagem.modCha" class="form-control" id="cha" readonly/>
                    </div>
                </div>
            </form>
            <button type="button" ng-click="cancelarEdicao()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</button>
            <button type="button" ng-click="salvarEdicao()" class="btn btn-primary" ng-disabled="personagemForm.$invalid"><span class="glyphicon glyphicon-save"></span> Salvar Edição</button>
        </div>
    </div>

    <div class="row" ng-hide="editarRegistro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <table class="table table-striped table-hover" ng-init="todosPersonagens()">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>PJ</th>
                    <th>Raça</th>
                    <th>Sexo</th>
                    <th>Classe</th>
                    <th>Nível</th>
                    <th>Ação</th>
                </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="personagem in listaPersonagens | filter:pesquisa | orderBy:'+nivel'">
                        <td>{{personagem.nome}}</td>
                        <td>{{personagem.pj}}</td>
                        <td>{{personagem.raca}}</td>
                        <td>{{personagem.sexo}}</td>
                        <td>{{personagem.classe}}</td>
                        <td>{{personagem.nivel}}</td>
                        <th>
                            <button type="button" ng-click="excluir(personagem)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" ng-click="editar(personagem)" class="btn btn-sm btn-default" alt="Editar" title="Editar">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </th>
                    </tr>
                </tbody>
        </table>

        </div>
    </div>
</div>