<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Criação de Missão</h4>
    <form role="form">
        <div class="form-group">					 
            <label for="nome">Nome</label>
            <input type="text" ng-model="fields.nome" class="form-control" id="nome" />
            <label for="nd">Nível de Desafio</label>
            <input type="text" ng-model="fields.nd" class="form-control" id="nd" />
            <label for="xp">XP total</label>
            <input type="text" ng-model="fields.xp" class="form-control" id="xp" />
        </div>
        <div class="form-group">					 
            <label for="monstros">Monstros</label>
            <input type="text" ng-model="fields.monstros" class="form-control" id="monstros" />
            <label for="chefe">Chefe da missão</label>
            <input type="text" ng-model="fields.chefe" class="form-control" id="chefe" />
        </div>
    </form>
    <button type="button" ng-click="salvar()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Salvar</button>
    <a class="btn btn-warning" href="#/missao-lista" role="button"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
</div>
