.container{
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;     
}

.menu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}